.nav-title-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	max-width: 1285px;
	margin: 0 3rem;

	.link {
		text-decoration: none;

		.title {
			color: #484747;
			font-weight: bold;
			font-family: sans-serif;

			&:hover {
				color: #2f2f2f;
			}
		}
	}
}
