.btn-back-container {
	width: 100%;
	max-width: 1250px;
	height: 35px;
	margin-top: 25px;

	.btn-back {
		width: 150px;
		height: 100%;
		padding: 5px 10px;
		background-color: #99e7d0;
		border: 1px solid #cacaca;
		border-radius: 0.2em;
		color: #484747;
		font-weight: 700;
		outline: none;
		cursor: pointer;

		&:hover {
			// background-color: #92d8c3;
			background-color: #78c3ad;
		}
	}
}

.movie-detials-container,
.movie-detials-container-error {
	width: 100%;
	max-width: 1250px;
	padding: 50px 25px 10px 25px;
	border: 1px solid #a7a7a7;
	border-radius: 0.2em;
	background-color: #fff;
	margin-top: 25px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.movie-details-img-container {
		width: 300px;
		height: 450px;
		display: flex;
		justify-content: center;
		align-items: flex-start;

		.movie-details-img {
			width: 250px;
			object-fit: cover;
			border-radius: 0.2em;
		}
	}

	.movie-details-desc-container {
		width: 100%;
		height: 100%;
		min-height: 450px;

		.movie-details-desc-header {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			font-size: 1.5rem;

			.movie-details-desc-header-span {
				font-weight: 200;
				font-size: 0.8rem;
				color: #48474785;
			}
		}
		.movie-details-desc {
			margin: 25px 0;

			.movie-details-desc-body {
				font-weight: 200;
			}
		}
	}
}

.movie-detials-container-error {
	.movie-detials-error-msg {
		font-size: 1.6rem;
	}
	.movie-detials-error-svg {
		width: 200px;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (min-width: 680px) {
	.movie-detials-container {
		flex-direction: row;
		justify-content: space-around;
		.movie-details-desc-container {
			width: 80%;
			padding-left: 20px;
		}
	}
}
